!!!
%html
  %head
    %title= current_page.data.title || "GS3 Professionals"
    
    = csrf_meta_tags

    %meta{charset:"utf-8"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1"}
    %meta{content:"IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{name:"msapplication-TileColor", content:"#80EEC7"}
    %meta{name:"msapplication-TileImage", content:"/mstile-144x144.png"}
    %meta{name:"theme-color", content:"#80EEC7"}
    
    %link{href: "/assets/favicons/favicon.ico", rel: "shortcut icon"}
    %link{href: "/assets/favicons/apple-touch-icon-57x57.png",   rel: "apple-touch-icon", sizes: "57x57"}
    %link{href: "/assets/favicons/apple-touch-icon-60x60.png",   rel: "apple-touch-icon", sizes: "60x60"}
    %link{href: "/assets/favicons/apple-touch-icon-72x72.png",   rel: "apple-touch-icon", sizes: "72x72"}
    %link{href: "/assets/favicons/apple-touch-icon-76x76.png",   rel: "apple-touch-icon", sizes: "76x76"}
    %link{href: "/assets/favicons/apple-touch-icon-114x114.png", rel: "apple-touch-icon", sizes: "114x114"}
    %link{href: "/assets/favicons/apple-touch-icon-120x120.png", rel: "apple-touch-icon", sizes: "120x120"}
    %link{href: "/assets/favicons/apple-touch-icon-144x144.png", rel: "apple-touch-icon", sizes: "144x144"}
    %link{href: "/assets/favicons/apple-touch-icon-152x152.png", rel: "apple-touch-icon", sizes: "152x152"}
    %link{href: "/assets/favicons/apple-touch-icon-180x180.png", rel: "apple-touch-icon", sizes: "180x180"}
    
    %link{href: "/assets/favicons/android-chrome-192x192.png", rel:"icon", type: "image/png", sizes: "192x192"}
    %link{href: "/assets/favicons/favicon-16x16.png", rel:"icon", type: "image/png", sizes: "16x16"}
    %link{href: "/assets/favicons/favicon-32x32.png", rel:"icon", type: "image/png", sizes: "32x32"}
    %link{href: "/assets/favicons/favicon-96x96.png", rel:"icon", type: "image/png", sizes: "96x96"}
    
    %link{href: "/manifest.json", rel:"manifest"}

    = stylesheet_link_tag "application"
  %body{class:"#{page_classes}"}
    = yield

  / = javascript_include_tag "application"  
